@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
  background-image: linear-gradient(#141e30, #243b55);
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 25%,
    #ffffff 75%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 5px #10848b, 0 0 5px #10848b, 0 0 25px #10848b,
    0 0 25px #10848b;
  background: #10848b;
  color: #fff;
}
